<html lang="en">

<head>
    <meta charset="UTF-8">
<link rel="icon" type="image/x-icon" style="border-radius: 50%;" href="/images/poseidon.png">
<title>Poseidon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <link rel="stylesheet" href="/css/index.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body>
    <!-- partial:index.partial.html -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <div id="app">
        <div class="app-container flex-container">
            <div id="app-nav">
                <div class="flex-center"><img id="logo" src="/images/poseidon.png" ></div>
                <div>
                    <a href="/"><div class="nav-item flex-center active"><i class="fa fa fa-home"></i></div></a>
                    <a href="/hack"> <div class="nav-item flex-center "><i class="fa fa-bug"></i></div></a>
                   <a href="/hacked"> <div class="nav-item flex-center "><i class="fas fa-coins"></i></div></a>
                    
                </div>
            </div>
            <div class="flex-column" id="app-dashboard">
                <div class="flex-row flex-apart" id="dashboard-header">
                    <div>
                        <h1>Welcome <%= uname %></h1>
                        <h2><%= date %></h2>
                    </div>
                    <div><div class="flex-row flex-apart"><i class="fa fa-user header-icon"></i></div></div>
                </div>
                <div class="flex-apart flex-column" id="dashboard-charts">
                    <div class="flex-row dashboard-row">
                       <div class="header-div">
                        <div class="right"><h1>Poseidon</h1>
                        <h3>A single tool to do Social Engineering attacks</h3>
                        <div class="img-txt"><h3>
                        Developed by 🎖️@karthithehacker🎖️
                        <img src="https://avatars.githubusercontent.com/u/33289300?v=4" height="25px" width="25px"></div>
                        <button  class="glow-on-hover" onclick="location.href='https://karthithehacker.com'" type="button">🔱 Author 🔱</button>
                        </div>
                        <div class="left"><img src="/images/poseidon.png" height="100%" width="100%"></div>
                       </div>
                    </div>
                    <div class="flex-row dashboard-row-large">
                        <div class="dashboard-container dashboard-container-large">
                           

                            <div class="terminal-window">
                                <header>
                                    <div class="button green"></div>
                                    <div class="button yellow"></div>
                                    <div class="button red"></div>
                                </header>
                                <section class="terminal">
                                    <div class="history"></div>
                                    $&nbsp;<span class="prompt"></span>
                                    <span class="typed-cursor"></span>
                            
                                </section>
                            </div>
                            <!-- data -->
                            <div class="terminal-data mimik-run-output">
                                <pre>.-----------------------------.
|   Hey hacker                |
|   Username : root           |
|   Password : 'OR'1'='1' --+ |
|          Oops Pwned         |
'-----------------------------'
       ^      (\_/)
       '----- (O.o)
              (> <)</pre>
                                ----------------------------------------------<br>
                                Features: <span class="gray">Cloud Based Phishing tool</span><br><br>
                            
                                Disclaimer ⚠️<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">To be used for educational purpose only 🎓</span><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">CAN NOT use this software to test person or company without WRITTEN PERMISSION from them 🚫
                                    tasks</span><br>
                                &nbsp;&nbsp;&nbsp;&nbsp;<span class="green">✓</span> <span class="gray">
                                    Developer assume NO liability and are NOT responsible for any misuse or damage caused by this program 🚨</span><br>
                                <br>
                                
                            </div>
<script src="/js/terminal.js"></script>

                        </div>
                        <div class="flex-column dashboard-column">
                            <div class="dashboard-container">
                                <div class="dashboard-item">
                                    <div class="chart-header flex-row flex-apart">
                                        <h3 class="text-medium">Attack counts</h3>
                                    </div>
                                    <div class="flex-column">
                                        <div class="profit-item flex-row text-medium"><i
                                                class="fa fa-arrow-up success"></i><span><%= count %><div class="text-small">Credentials
                                                </div></span></div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-container">
                                <div class="dashboard-item" id="transfer-now">
                                    <div class="chart-header flex-row flex-apart">
                                        <h3 class="text-medium">ReZone</h3>
                                    </div>
                                    <div class="text-small">
                                        <h1>This ReZone helps you to gather informations like 🔍
                                        </h1>
                                        <p>⚡ Useragent</p>
                                        <p>⚡ Operiting System</p>
                                        <p>⚡ Loggin Time</p>
                                        <p>⚡ GeoLocation</p>
                                        <p>⚡ Browser information</p>
                                        <p>⚡ IP Address</p>


                                    </div>
                                    <button> Pro version </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.3.1/index.min.js"></script>
    <script src="/js/index.js"></script>



   
</body>

</html>